@font-face {
  font-family: 'Bitcount';
  src: url('https://beneinst.github.io/tradingspot/componenti/BitcountPropSingle-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AncizarSans';
  src: url('https://beneinst.github.io/tradingspot/componenti/TitilliumWeb-Regular.ttf') format('truetype');
}

:root {
  --font-heading: 'Bitcount', monospace;
  --font-body: 'AncizarSans', sans-serif;
}

body, p {
  font-family: var(--font-body);
  font-size: 1.05em;
  line-height: 1.8;
  background-color: #1e1e1e;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, h5, header {
  font-family: var(--font-heading);
  color: #FFD012;
}


/* Altri elementi layout possono seguire... */
