/* style.css */
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap'); */
/* Titoli - Font in stile "bit art" */
@font-face {
  font-family: 'Bitcount';
  src: url('../componenti/BitcountGridDouble_Cursive-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Corpo del testo */
@font-face {
  font-family: 'AncizarSans';
  src: url('../componenti/AncizarSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --font-heading: 'Bitcount', monospace;
  --font-body: 'AncizarSans', sans-serif;
}

body {
  font-family: var(--font-body);
  font-size: 1.05em;
  line-height: 1.8;
  background-color: #1e1e1e;
  color: #e0e0e0;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, h5, header {
  font-family: var(--font-heading);
  color: #FFD012;
}


/* Altri elementi layout possono seguire... */
